  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }
  .brown-Bold-Topic-Text{
    font-size:32px;
    font-weight:bold;
    color:#d7c6b4
  }

  .black-Bold-Topic-Text{
    font-size:24px;
    font-weight:bold;
    color:black;
    padding: 0px 20px;
    
  }

  .black-Bold-18-Text{
    font-size:18px;
    font-weight:bold;
    color:black;
    
  }

  .black-Regular-18-Text{
    font-size:18px;
    color:black;
    
  }

  .brown-input-Text{
    font-size:12px;
    color:#d7c6b4
  }

  .primary-button{
    background-color:#4f6137;
    padding:5px;
    border-radius:10px;
    color:#d7c6b4;
    border-color:transparent;
    font-size:18px;
    font-weight:bold;
    width:100%;  
  }

  .secondary-button{
    background-color:white;
    padding:5px;
    border-radius:10px;
    color:#4f6137;
    border-color:#4f6137;
    font-size:18px;
    font-weight:bold;
    width:100%;  
  }

  .text-link{
    color:#4f6137;
    text-decoration:underline;
  }

  .input{
    padding:10px 0px;
    width: 350px;
    margin: 0 auto;
  }

  .text-error{
    color:red;
    font-size: 14px;
  }

  .disabled{
    cursor: none;
    color: white;
    background-color: lightgrey;
  }

  .imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .imageTopic{
    padding:10px;
    width:10px;
    height:50px;
    background-color:#4f6137;
  }

  .horizonCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .normal-background{
    background-color:white;
    margin:20px;
    border-radius:10px;
    border: 1px solid #4f6137;
    border-top: 10px solid #4f6137;
  }

  .book-bank-list-dislog-close-button {
    width: 18px;
    position: absolute;
    padding-top: 6px;
    right: 20px;
    cursor: pointer;
}

.select-book-bank-list {
  font-size: 24px;
  font-weight: bold;
  margin-right: 0px;
  margin-left: 0px;
  padding: 11px 20px 11px 20px;
}

  .select-book-bank-list:hover {
      background-color: #d7c6b4;
      color: white;
      cursor: pointer;
  }

  .select-book-bank-logobox {
    width: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-bottom: -10px;
    cursor: pointer;
}

.select-book-bank-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: -4px;
}

  